<template>
<div id="app" class="app">

<div class="header">

    <h1>Dahood</h1>
    <nav>
        <button v-if="is_auth" v-on:click="loadHome" > Inicio </button>
        <button v-if="is_auth" v-on:click="loadPublication"> Publicacion </button>
        <button v-if="is_auth" v-on:click="loadVecinos"> Tus Vecinos </button>
        <button v-if="is_auth" v-on:click="loadUpdate"> Configuracion </button>
        <button v-if="is_auth" v-on:click="loadAccount"> Cuenta </button>
        <button v-if="is_auth" v-on:click="deleteAccount" > Eliminar </button>
        <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadLogin" > Iniciar Sesion</button>
        <button v-if="!is_auth" v-on:click="loadSignUp" > Crear Cuenta</button>
    </nav>

</div>
  <div class="main-component">
    <router-view
      v-on:completedLogIn="completedLogIn"
      v-on:completedSignUp="completedSignUp"
      v-on:logOut="logOut"
    >
    </router-view>
  </div>
  <div class="footer">
      <h1>Moshi moshi!!</h1>
    </div>


</div>
</template>
<script>

import Swal from 'sweetalert2';
import axios from 'axios'
import jwt_decode from "jwt-decode"

export default{
  name: 'App',
  
  data: function(){
    return{
      is_auth: false
    }
  },

  components: {
  },

  methods:{

    verifyAuth: function() {
     this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false)
        this.$router.push({ name: "logIn" });
      else
        this.$router.push({ name: "home" });
    },

    loadLogin(){
      this.$router.push({name: "logIn"})
    },
    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },
    loadPublication: function(){
      this.$router.push({name: "publication"})
    },

    completedLogIn: function(data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      Swal.fire("Autenticación Exitosa");
      this.verifyAuth();
    },

    completedSignUp: function(data) {
      Swal.fire("Registro Exitoso");
      this.completedLogIn(data);
    },

    loadHome: function() {
      this.$router.push({ name: "home" });
    },
    loadUpdate: function() {
      this.$router.push({ name: "update" });
    },

    logOut: function () {
      localStorage.clear();
      Swal.fire("Sesión Cerrada");
      this.verifyAuth();
    },

    deleteAccount: function () {
      Swal.fire({
        title: 'Estas segur@ de eliminar tu cuenta?',
        text: "Una vez eliminada no habra marcha atras!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Si, eliminala!'
      }).then((result) => {
        if (result.isConfirmed) {
          Swal.fire(
            'Eliminada!',
            'Tu cuenta ha sido eliminada.',
            'success'
          )
          axios.post("https://proyecto-g4-mintic.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})

            .then((result) => {
                localStorage.setItem("token_access", result.data.access);
            })
            .catch(() => {
                this.$emit('logOut');
            });
          let token = localStorage.getItem("token_access");
          let userId = jwt_decode(token).user_id.toString();
          axios.delete(`https://proyecto-g4-mintic.herokuapp.com/user/delete:${userId}/`                          
                , {headers: {'Authorization': `Bearer ${token}`}}
          ).then((result) =>{
              localStorage.clear();
            //Swal.fire("Sesión Cerrada");
            this.verifyAuth();
          }).catch((errorStatus)=>{
            if (errorStatus.response.status == "401"){
                    this.$emit('logOut', )
                } 
          })
            
        }
      })
    },
    loadAccount: function () {
      this.$router.push({ name: "account" });
    },
    loadVecinos: function () {
      this.$router.push({ name: "vecinos" });
    },

  },

  created: function(){
      this.verifyAuth()
  }
}
</script>

<style>
  body{
    margin: 0 0 0 0;
  }
  .header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 10vh;
    min-height: 100px;
    background-color: #283747 ;
    color:#e5e9e8 ;
    display: flex;
    justify-content: space-between;

    align-items: center;
  }

  

  .header h1{
    width: 20%;
    text-align: center;
  }

  .header nav{
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: space-around;

    align-items: center;
    font-size: 20px;
  }

  .header nav button{
    color: #E5E7E9;
    background: #283747;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 30px;
  }

  .header nav button:hover{
    color: #283747;
    background: #E5E7E9;
    border: 1px solid #E5E7E9;
  }

  .main-component{
    height: 75vh;
    margin: 0%;
    padding: 0%;
    background-color: #E5E7E9;
    background-image: url("https://ikigaimatsuri.com/wp-content/uploads/2017/08/Sekirei.jpg");
    background-size: 100%;
    background-position-y: 60%;
  }
  .footer{
   margin: 0%;
    padding: 0;
    width: 100%;
    height: 9vh;
    min-height: 10px;
    background-color: #283747 ;
    color:#e5e9e8 ;
    display: flex;
    justify-content: space-between;

    align-items: center;
  }
  .footer h1{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
