<template>
    
    <div v-if="loaded" class="information">
        <div class="contenedor">
            <h1>Informacion de la cuenta</h1>
            <h2>Nombre: <span>{{name}}</span></h2>
            <h2>Usuario: <span>{{username}}</span></h2>
            <h2>Celular: <span>{{celular}}</span></h2>
            <h2>Email: <span>{{email}}</span></h2>
            <h2>Fecha de nacimiento: <span>{{fechaNacimiento}}</span></h2>
        </div>
    </div>
</template>

<script>
import jwt_decode from "jwt-decode"
import axios from 'axios'

export default {
    name: "Account",

    data: function(){
        return {
            username: "",
            name: "",
            celular: "",
            email: "",
            fechaNacimiento: "",
            loaded: false,
        }
    },

    methods: {
        getData: async function () {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
            this.$emit('logOut');
            return;
        }

        await this.verifyToken();
        let token = localStorage.getItem("token_access");
        let userId = jwt_decode(token).user_id.toString();

        axios.get(`https://proyecto-g4-mintic.herokuapp.com/user/${userId}/`, {headers: {'Authorization': `Bearer ${token}`}})

            .then((result) => {
                this.name = result.data.name;
                this.email = result.data.email;
                this.username = result.data.username;
                this.celular = result.data.celular;
                this.fechaNacimiento = result.data.fechaNacimiento;
                this.loaded = true;
                })
            .catch(() => {
                this.$emit('logOut');
            });
    },

    verifyToken: function () {
        return axios.post("https://proyecto-g4-mintic.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})

            .then((result) => {
                localStorage.setItem("token_access", result.data.access);
            })
            .catch(() => {
                this.$emit('logOut');
            });
    }
},
    created: async function(){
        this.getData();
    },
}
</script>

<style>
    .information {
        margin: 0;
        padding: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .information h1{
        font-size: 40px;
        color: #0f1316;
    }

    .information h2{
        font-size: 25px;
        color: #283747;
    }

    .information span{
        color: crimson;
        font-weight: bold;
    }

    .contenedor{
        border: 3px solid #283747;
        border-radius: 10px;
        backdrop-filter: blur(8px);
        width: 40%;
        height: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>