<template>

    <div class="greetings">
        <div class="contenedor">
            <h2>¡Bienvenid@ <span> {{username}} </span>!</h2>
        </div>

    </div>
        <div class="contenedor-imagen">
            <img src="../../public/moon.png" >
        </div>

</template>

<script>

export default {
    name: "Home",

    data: function(){
        return {
            username: localStorage.getItem('username') || "none"
        }
    }
}

</script>

<style>

    .greetings{
        margin: 0;
        padding: 0%;
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .greetings h2{
        font-size: 50px;
        color: #2f4358;
    }
    
    .greetings span{
        color: crimson;
        font-weight: bold;
    }

    .contenedor{
        border: 3px solid #283747;
        border-radius: 10px;
        backdrop-filter: blur(8px);
        width: 10%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor-imagen{
         margin: 0;
        padding: 0%;
        height: 10%;
        width: 73%;
        flex-direction: initial;
        justify-content: center;
        align-items: center;
    }
    img{
        float: right;
        size: 30%;
    }

</style>