<template>
    <div>
        <br><br>
        <div class="formulario2">
            <div class="margen">
                <div class="formulario1">
                    <div>
                        <input class="redondeado" id="ID" name="ID" type="text" placeholder="ID " v-model="publication.id" readonly> 
                    </div>
                    <!--div>
                        <input class="redondeado" id="idusuario" name="idusuario" type="text" placeholder="idusuario" v-model="publication.idusuario"> 
                    </div-->
                    <div>
                        <input class="redondeado" id="usuario" name="usuario" type="text" placeholder="Titulo" v-model="publication.image">  
                    </div>
                    <div>
                        <textarea class="redondeado" id="Descripcion" name="Descripcion" type="text" style="resize: none; " rows="3" placeholder="Descripcion" v-model="publication.description"></textarea>
                    </div>
                </div>
                
                <br>
                
                <br>
                <div>
                    
                    <label class="error ">{{error}}</label>
                </div>
                <br>
                <div class="formulario3">
                        <button id="Crear" type="submit" v-on:click="crear">Crear</button>
                        <button id="Eliminar" type="submit" v-on:click="eliminar">Eliminar</button>
                        <button id="Modificar" type="submit" v-on:click="modificar">Modificar</button>
                        <button id="Actualizar" type="submit" v-on:click="actualizar" disabled>Actualizar</button>            
                </div>

                
            </div>

            <!--tabla-->
            <div class="scrollPanel">
                <table id="tabla" >
                    <thead id="cabecera">
                        <tr>
                            <th>Id</th>
                            <th>Titulo</th>
                            <th>Descripcion</th>
                            <th>Fecha de publicacion</th>
                        </tr>
                    </thead>

                    <tbody id="cuerpo" >                        
                        <tr v-for="p in publicationsList" v-bind:key="p.id">
                            <td><button v-on:click="mostrar(p)">{{p.id}}</button></td>
                            
                            <td>{{p.image}}</td>
                            <td>{{p.description}}</td>
                            <td>{{p.fecha_publicacion}}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</template>

<script> 
import Swal from 'sweetalert2';
import axios from 'axios'
import jwt_decode from "jwt-decode"

export default {     
    name: "Publication", 
 
    data: function(){         
        return {       
            error : "",
            publication : {
                idusuario : "",
                image : "",
                description : "",
            },
            publicationsList : []
        }     
    }, 
 
    components: {   
    }, 

    methods:{  

        mostrar: function(publication){
            this.publication = publication;
            var btnCrear = document.getElementById("Crear");
            var btnEliminar = document.getElementById("Eliminar");
            var btnModificar = document.getElementById("Modificar");
            var btnActualizar = document.getElementById("Actualizar");
        
            btnCrear.disabled = true;
            btnEliminar.disabled = false;
            btnModificar.disabled = false;
            btnActualizar.disabled = true; 
        },

        validarData: function () {
            if(this.publication.image==""){
                Swal.fire("Falto diligenciar el id del usuario de la publicacion a procesar");
                return false;
            }else if(this.publication.description==""){
                Swal.fire("Falto diligenciar la descripcion de la publicacion a procesar");
                return false;
            }
            this.error = "";
            return true;
        },

        limpiar : function(){
            this.publication.id="";
            this.publication.idusuario="";
            this.publication.image="";
            this.publication.description="";
            this.error = "";
        },
    
        crear: function() {
            if(this.validarData()){
                let token = localStorage.getItem("token_access");
                let userId = jwt_decode(token).user_id.toString();
                this.publication.idusuario=userId;
                axios.post(  
                    `https://proyecto-g4-mintic.herokuapp.com/publication/`,
                    this.publication,                          
                    {headers: {}}                 
                ).then((result) => { 
                    Swal.fire("Creacion exitosa"); 
                    this.limpiar();                  
                    this.showData();                                                          
                }).catch((errorStatus) => {       
                    if (errorStatus.response.status == 400){
                        Swal.fire("Error en la creacion");
                    } else if (errorStatus.response.status == "401"){
                        this.$emit('logOut', )
                    }                                           
                });
            }
        },

        eliminar: function () {
            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();
            //let Id = jwt_decode(token).id.toString();
            axios.delete(                 
                `https://proyecto-g4-mintic.herokuapp.com/publication/delete:${this.publication.id}/`,                          
                {headers: {'Authorization': `Bearer ${token}`}}                 
            ).then((result) => {
                var btnCrear = document.getElementById("Crear");
                    btnCrear.disabled = false;
                    Swal.fire("Eliminacion exitosa");
                    this.limpiar();
                    this.showData();                                                             
            }).catch((errorStatus) => {                                          
                if (errorStatus.response.status == "401"){
                    this.$emit('logOut', )
                }                                                
            });    
        },

        modificar: function() {
            var btnCrear = document.getElementById("Crear");
            var btnEliminar = document.getElementById("Eliminar");
            var btnModificar = document.getElementById("Modificar");
            var btnActualizar = document.getElementById("Actualizar");
           
           btnCrear.disabled = true;
           btnEliminar.disabled = true;
           btnModificar.disabled = true;
           btnActualizar.disabled = false;
        }, 

        actualizar: function () {     
            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString(); 
            this.publication.idusuario=userId; 
            if(this.validarData()){
                axios.put(                 
                    `https://proyecto-g4-mintic.herokuapp.com/publication/update:${this.publication.id}/`,
                    this.publication,                          
                    {headers: {'Authorization': `Bearer ${token}`}}                 
                ).then((result) => {             
                    var btnCrear = document.getElementById("Crear");
                    var btnEliminar = document.getElementById("Eliminar");
                    var btnModificar = document.getElementById("Modificar");
                    var btnActualizar = document.getElementById("Actualizar");
                
                    btnCrear.disabled = false;
                    btnEliminar.disabled = false;
                    btnModificar.disabled = false;
                    btnActualizar.disabled = true; 
                    Swal.fire("Actualizacion exitosa");
                    this.limpiar();
                    this.showData(); 
                }).catch((errorStatus) => {                                          
                    if (errorStatus.response.status == "401"){
                        this.$emit('logOut', )
                    }
                });
            }
        },

        showData: function() {     
            let token = localStorage.getItem("token_access");
            let userId = jwt_decode(token).user_id.toString();
            axios.get(                 
                //`https://proyecto-g4-mintic.herokuapp.com/publication/detail:4:all/`,  
                `https://proyecto-g4-mintic.herokuapp.com/publication/detail:${userId}:all/`,
                {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
            ).then((result) => {   
               this.publicationsList = result.data;
               
            }).catch((errorStatus) => {                                          
                if (errorStatus.response.status == "400"){
                    this.error = "Error en la coneccion con la base de datos";
                }else if (errorStatus.response.status == "401"){
                    this.$emit('logOut', )
                }                                                
            }); 
        },
        
    },

    

    created: function(){ 
        this.showData();
    }
}  
</script>
 
 
<style>

    .margen{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }


    .formulario1 {
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
        color: #283747; 
        font-weight: bolder;
        position:absolute; /*El div será ubicado con relación a la pantalla*/
        left:420px; /*A la derecha deje un espacio de 0px*/
        bottom:400px;
        
    }

    .redondeado {
        border-radius: 5px;
        border-block-color: rgb(2, 59, 70);
    }

    .error{
        width: 600px;
        justify-content: center;
        color : red;
    }

    .formulario3 {
        width: 580px;
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        position:absolute; /*El div será ubicado con relación a la pantalla*/
        left:400px; /*A la derecha deje un espacio de 0px*/
        bottom:340px; /*Abajo deje un espacio de 0px*/
    }

    table{
        background-color: rgb(255, 255, 255);
        text-align: center; 
        border-collapse: collapse;
        width: 40%;
    }

    .scrollPanel{
        overflow-y: auto;
        overflow-x:hidden;
        max-width: 55vw;
        max-height: 40vh;
        position:absolute; /*El div será ubicado con relación a la pantalla*/
        left:438px; /*A la derecha deje un espacio de 0px*/
        bottom:80px; /*Abajo deje un espacio de 0px*/
    }

    th,td{
        padding: 20px;
    }

    td button{
        color: #283747;    
        background: #fefeff;     
        border: 1px solid #283747; 
        border-radius: 5px;     
        padding: 5px 10px;  
    }

    td button:hover{     
        color: #E5E7E9;         
        background: crimson;         
        border: 1px solid #283747;   
    }

    thead{
        background-color: #283747;
        color: white; 
    }

    .input{         
        height: 40px;         
        width: 100%; 
        box-sizing: border-box;         
        padding: 10px 20px;         
        margin: 5px 0; 
        border: 1px solid #283747;     
    }

    .formulario3 button{         
        width: 100%;         
        height: 40px; 
        color: #E5E7E9;         
        background: #283747;         
        border: 1px solid #E5E7E9; 
        border-radius: 5px;         
        padding: 10px 25px;         
        margin: 5px 0;     
    } 
 
    .formulario3 button:hover{         
        color: #E5E7E9;         
        background: crimson;         
        border: 1px solid #283747;     
    }
    
    .formulario3 button:disabled{         
        color: #E5E7E9;         
        background: grey;         
        border: 1px solid grey;     
    }
</style>