<template>
    <div class="update_user">
        <div class="container_update_user">
            <h1>Configuracion de Cuenta</h1>
                <div class="formularioxd">
                    <!--button type= "button" v-on="getData">ver Datos</button-->
                    <input type="text" id="Usuario" v-model="user.username" placeholder="Username">
                    <br>

                    <input name="Nombre" id="Nombre" type="text" v-model="user.name" placeholder="Name">
                    <br>

                    <input name="Celular" id="Celular" type="number" v-model="user.celular" placeholder="Celular">
                    <br>

                    <input name="Correo" id="Correo" type="email" v-model="user.email" placeholder="Email">
                    <br>

                    <input name="Nacimiento" id="Nacimiento" type="date" v-model="user.fechaNacimiento" placeholder="Fecha de nacimiento">
                    <br>

                    <input name="password" id="password" type="password" v-model="user.password" placeholder="Nueva contraseña">
                    <br>
                
                </div>
            <button v-on:click="actualizar">Actualizar Datos</button>
                
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import jwt_decode from "jwt-decode"
import Swal from 'sweetalert2';

export default {
    name: "update",

    data: function(){
        return {
            user:{
                username: "",
                name: "",
                celular: "",
                email: "",
                fechaNacimiento: "",
                password:"",
            }
        }
    },

    methods: {
        getData: async function () {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut');
                return;
            }

        await this.verifyToken();
        let token = localStorage.getItem("token_access");
        let userId = jwt_decode(token).user_id.toString();

        axios.get(`https://proyecto-g4-mintic.herokuapp.com/user/${userId}/`, {headers: {'Authorization': `Bearer ${token}`}})

            .then((result) => {
                /*this.name = result.data.name;
                this.email = result.data.email;
                this.username = result.data.username;
                this.celular = result.data.celular;
                this.fechaNacimiento = result.data.fechaNacimiento;*/
                this.user=result.data;
                this.user.password="";
                
                
                //document.getElementByName("Nombre").value=result.data.name;
                //document.getElementById("Nombre").value=result.data.name;
                //document.getElementById("Usuario").value=result.data.username;
                //document.getElementById("Celular").value=result.data.celular;
                //document.getElementById("Correo").value=result.data.email;
                //document.getElementById("Nacimiento").value=result.data.fechaNacimiento;
                
                })
            .catch(() => {
                this.$emit('logOut');
            });
    },

    verifyToken: function () {
        return axios.post("https://proyecto-g4-mintic.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})

            .then((result) => {
                localStorage.setItem("token_access", result.data.access);
            })
            .catch(() => {
                this.$emit('logOut');
            });
    },

    actualizar: function(){
        console.log("xd");
        let token = localStorage.getItem("token_access");
        let userId = jwt_decode(token).user_id.toString();
        //https://proyecto-g4-mintic.herokuapp.com/user/update:9/
        axios.put(`https://proyecto-g4-mintic.herokuapp.com/user/update:${userId}/`,this.user                          
                , {headers: {'Authorization': `Bearer ${token}`}}
                ).then((result)=>{
                    Swal.fire("Actualizacion Exitosa");
                }).catch((error) => {
                    Swal.fire("ERROR: Fallo la actualizacion.");
                });
    },
},
    created: async function(){
        this.getData();
    },
    
}
</script>

<style>

    .update_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_update_user {
        border: 3px solid #283747;
        border-radius: 10px;
        backdrop-filter: blur(8px);
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .update_user h1{
        color: #283747;
        justify-content: center;
        align-items: center;
    }

    .update_user form{
        width: 70%;
    }

    .update_user input{
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px0;
        border: 1px solid #283747;
    }
    
    .update_user button{
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px0 25px0;
    }

    .update_user button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }
</style>