<template>
    
    <div v-if="loaded" class="information">
        <div class="contenedor">
            <h1>Tus Vecinos</h1>
            <div class="scroll">
                <tr v-for="ve in listaVecinos" v-bind:key="ve.id">
                    <h2>Nombre: <span>{{ve.name}}</span></h2>
                    <h2>Usuario: <span>{{ve.username}}</span></h2>
                    <h2>Celular: <span>{{ve.celular}}</span></h2>
                    <h2>Email: <span>{{ve.email}}</span></h2>
                    <h2>Fecha de nacimiento: <span>{{ve.fechaNacimiento}}</span></h2>
                    <h2>____________________________________</h2>           
                </tr>
            </div>
        </div>
        <img class="bart" src="https://forum.ikariam.gameforge.com/attachment/293-ae3-png/" width="220" height="440">
    </div>
</template>


<script>
import jwt_decode from "jwt-decode"
import axios from 'axios'

export default {
    name: "Vecinos",

    data: function(){
        return {
            index:-1,
            user:{
                username: "",
                name: "",
                celular: "",
                email: "",
                fechaNacimiento: "",
            },
            loaded: false,
            listaVecinos:[]
        }
    },

    methods: {
        getData: async function () {

            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
            this.$emit('logOut');
            return;
        }

        await this.verifyToken();
        let token = localStorage.getItem("token_access");
        let userId = jwt_decode(token).user_id.toString();

        axios.get(`https://proyecto-g4-mintic.herokuapp.com/detail:${userId}:all/`, {headers: {'Authorization': `Bearer ${token}`}})

            .then((result) => {
                
                this.listaVecinos= result.data;
                //this.user.name = listaVecinos[this.index+1].name;
                //this.user.email = listaVecinos[this.index+1].email;
                //this.user.username = listaVecinos[this.index+1].username;
                //this.user.celular = listaVecinos[this.index+1].celular;
                //this.user.fechaNacimiento = listaVecinos[this.index+1].fechaNacimiento;
                this.loaded = true;
                })
            .catch(() => {
                this.$emit('logOut');
            });
    },

    verifyToken: function () {
        return axios.post("https://proyecto-g4-mintic.herokuapp.com/refresh/", {refresh: localStorage.getItem("token_refresh")}, {headers: {}})

            .then((result) => {
                localStorage.setItem("token_access", result.data.access);
            })
            .catch(() => {
                this.$emit('logOut');
            });
    },

    mostrar: function(i){
        this.index=i;
        this.name = listaVecinos[i].name;
        this.email = listaVecinos[i].email;
        this.username = listaVecinos[i].username;
        this.celular = listaVecinos[i].celular;
        this.fechaNacimiento = listaVecinos[i].fechaNacimiento;
    }
},
    created: async function(){
        this.getData();
    },
}
</script>

<style>
    .bart{
        position: absolute;
        left:-5px; /*A la derecha deje un espacio de 0px*/
        bottom:80px; /*Abajo deje un espacio de 0px*/
    }
    .information {
        margin: 0;
        padding: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .information h1{
        font-size: 40px;
        color: #0f1316;
    }

    .information h2{
        font-size: 25px;
        color: #283747;
    }

    .information span{
        color: crimson;
        font-weight: bold;
    }

    .scroll{
        overflow-y: auto;
        overflow-x:hidden;
        max-width: 55vw;
        max-height: 40vh;
        background: cornsilk;
        left:438px; /*A la derecha deje un espacio de 0px*/
        bottom:80px; /*Abajo deje un espacio de 0px*/
    }

    .contenedor{
        border: 3px solid #283747;
        border-radius: 10px;
        backdrop-filter: blur(12px);
        width: 40%;
        height: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>